* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 70vh;
  .bg {
    fill-opacity: 1;
    animation: bg 8s linear;
  }
  g.path {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke: #428dff;
    fill: #428dff;
    stroke-dashoffset: 0;
    animation: pathfill 9s linear;
    .dot {
      animation: dot 500ms linear;
      stroke-dasharray: 7;
    }
    .brain_book {
      animation: brain_book 5s linear;
      stroke-dasharray: 275;
    }
    .inside_brain_down {
      animation: inside_brain_down 6s linear;
      stroke-dasharray: 40;
    }
    .inside_brain_up {
      animation: inside_brain_up 6500ms linear;
      stroke-dasharray: 20;
    }
    .br {
      animation: br 7s linear;
      stroke-dasharray: 20;
    }
  }
}
@keyframes dot {
  0% {
    stroke-dashoffset: 7;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes brain_book {
  0% {
    stroke-dashoffset: 275;
  }
  10% {
    stroke-dashoffset: 275;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes inside_brain_down {
  0% {
    stroke-dashoffset: 40;
  }
  83.33% {
    stroke-dashoffset: 40;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes inside_brain_up {
  0% {
    stroke-dashoffset: 20;
  }
  92.31% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes br {
  0% {
    stroke-dashoffset: 20;
  }
  92.86% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes bg {
  0% {
    fill-opacity: 0;
  }
  87.5% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes pathfill {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke-width: 1px;
  }
  88.89% {
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke-width: 1px;
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke-width: 0;
  }
}
